/*the toast notification*/
#spotifind_toast {
    visibility: hidden; /* Hidden by default*/
    opacity: 0.7;
    width: 600px;
    height: 100px;
    margin-left: -300px;
    background-color: #212121;
    color: #b3b3b3;
    font-size: 13pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
  
#spotifind_toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}
  
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

#spotifind_toast img {
    float: left;
    padding-right: 16px;
}

#spotifind_toast h3 {
    color: #1db954;
    font-size: 16pt;
    line-height: 50px;
}

.spotifind_overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
}

.spotifind_overlay #body {
    position: fixed;
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background-color: #212121;
    z-index: 101;
}

.spotifind_overlay #x {
    position: fixed;
    display: block;
    color: #b3b3b3;
    font-size: 16pt;
    cursor: pointer;
    top: 11%;
    right: 11%;
}

.spotifind_overlay h2 {
    color: #b3b3b3;
    text-align: center;
}

.spotifind_overlay .grid-container {
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
        "album0 album1 album2" 
        "album3 album4 album5" 
        "album6 album7 album8" 
        "album9 album10 album11";
}

.spotifind_overlay .album {
    border: 3px solid #1db954;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.spotifind_overlay .album:hover {
    box-shadow: 0px 0px 21px 3px rgba(255,255,255,1);
}

.spotifind_overlay .album .id {
    display: none;
}

.spotifind_overlay .songs {
    margin: auto;
    width: 30%;
}

.spotifind_overlay .track {
    margin: 15px;
}

.spotifind_overlay .track input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.spotifind_overlay .track label {
    font-size: 14pt;
    color: #b3b3b3;
    cursor: pointer;
    padding-left: 30px;
}

.spotifind_overlay .checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #212121;
}
  
.spotifind_overlay .track:hover input ~ .checkmark:after {
    border-right: solid rgba(29,185,84, 0.3);
    border-bottom: solid rgba(29,185,84, 0.3);
}
  
  /* Show the checkmark when checked */
.spotifind_overlay .track input:checked ~ .checkmark:after {
    border-right: solid #1db954;
    border-bottom: solid #1db954;
}
  
  /* Style the checkmark/indicator */
.spotifind_overlay .track .checkmark:after {
    content: "";
    position: absolute;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    transform: rotate(40deg);
}

.spotifind_overlay img {
    float: left;
    padding-right: 5px;
}

.spotifind_overlay p {
    line-height: 5%;
    display: inline-block;
    color: #b3b3b3;
}

.spotifind_overlay .tag {
    font-weight: bold;
}

.spotifind_overlay #playlist_selector p {
    font-size: 13pt;
    color: #b3b3b3
}

#playlists {
    background-color: #212121;
    color: #b3b3b3;
    font-size: 13pt;
}

#playlists option {
    background-color: #212121;
    color: #b3b3b3;
    font-size: 13pt;
}

.spotifind_overlay #album1 {
    grid-area: album1;
}

.spotifind_overlay #album2 {
    grid-area: album2;
}

.spotifind_overlay #album3 {
    grid-area: album3;
}

.spotifind_overlay #album4 {
    grid-area: album4;
}

.spotifind_overlay #album5 {
    grid-area: album5;
}

.spotifind_overlay #album6 {
    grid-area: album6;
}

.spotifind_overlay #album7 {
    grid-area: album7;
}

.spotifind_overlay #album8 {
    grid-area: album8;
}

.spotifind_overlay #album9 {
    grid-area: album9;
}

.spotifind_overlay #album10 {
    grid-area: album10;
}

.spotifind_overlay #album11 {
    grid-area: album11;
}

.spotifind_overlay #album12 {
    grid-area: album12;
}