#sf_toast {
    display: block;
    visibility: hidden;
    width: 600px;
    /* height: 100px; */
    margin-left: -300px;
    background-color: #212121;
    color: #b3b3b3;
    font-size: 17px;
    border-radius: 5px;
    padding: 15px;
    position: fixed;
    z-index: 2147483647; /* max value lol */
    left: 50%;
    top: 30px;
    overflow: hidden;
    word-wrap: break-word;
}

#sf_toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

#sf_toast_img {
    float: left;
    padding-right: 15px;
}

#sf_toast_h3 {
    color: #1db954;
    font-size: 22px;

    display: block;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#sf_toast_message {
    font-size: 19px;
    color: #b3b3b3;
    text-decoration: none;
    word-wrap: break-word;
}

.sf_overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font: 16px Arial,sans-serif;
    background-color: rgba(0,0,0,0.7);
    z-index: 2147483646;
    text-align: center;
}

#sf_body {
    position: fixed;
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background-color: #212121;
    z-index: 2147483647;
    border: 2px solid #1db954;
    border-radius: 5px;
}

#sf_track_body {
    position: fixed;
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    background-color: #212121;
    z-index: 2147483647;
    border: 2px solid #1db954;
    border-radius: 5px;
}

#sf_back {
    position: absolute;
    font-size: 17px;
    cursor: pointer;
    top: 10px;
    left: 10px;
    
    background-color: #212121;
	border-radius: 40px;
	border: 1px solid #1db954;
	display: block;
	cursor: pointer;
	color: #1db954;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: 0px 1px 0px black;
}

#sf_close {
    position: absolute;
    display: block;
    color: #1db954;
    font-size: 17px;
    cursor: pointer;
    top: 10px;
    right: 10px;

    background-color: #212121;
	border-radius: 40px;
	border: 1px solid #1db954;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow:0px 1px 0px black;
}

#sf_h2 {
    color: #b3b3b3;
    text-align: center;

    display: block;
    font-size: 19px;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.sf_grid-container {
    display: grid;
    margin: auto;
    width: 91%;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: auto;
    max-height: 90%;
    margin-top: 15px;
}

.sf_grid-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border: 1px solid #1db954;
	border-radius: 10px;
    background-color: #212121;
}

.sf_grid-container::-webkit-scrollbar {
	width: 10px;
	background-color: #212121;
    height: 70px;
}

.sf_grid-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1db954;
}

.sf_grid-container::-webkit-scrollbar-thumb:hover {
	background-color: rgba(29,185,84, 0.7);
}

.sf_album {
    display: block;
    position: relative;
    border: 3px solid #1db954;
    border-radius: 4px;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.sf_track_result {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 32%;
    border: 3px solid #1db954;
    border-radius: 4px;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
}
.sf_bg_image {
    display: block;
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.2;
    margin: -5px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sf_album p {
    display: inline-block;
    font-size: 15px;
    color: #b3b3b3;
    text-shadow: 2px 2px 2px #000000;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sf_track_result p {
    line-height: 5px;
    display: inline-block;
    font-size: 15px;
    color: #b3b3b3;
    text-shadow: 2px 2px 2px #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sf_tag {
    padding-left: 5px;
}

.sf_album:hover .sf_bg_image {
    opacity: 0.5;
}

.sf_album .sf_id {
    display: none;
}

.sf_track_result .sf_id {
    display: none;
}

.sf_songs {
    display: inline-block;
    margin: auto;
    min-width: 30%;
    max-width: 100%;
    max-height: 70%;
    margin-left: 20%;
    margin-right: 20%;
    overflow-y: auto;
}

.sf_songs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border: 1px solid #1db954;
	border-radius: 10px;
	background-color: #212121;
}

.sf_songs::-webkit-scrollbar {
	width: 12px;
	background-color: #212121;
}

.sf_songs::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1db954;
}

.sf_songs::-webkit-scrollbar-thumb:hover {
	background-color: rgba(29,185,84, 0.7);
}

#sf_playlist_selector {
    display: block;
    margin: auto;
}

.sf_track {
    display: block;
    margin: 15px;
    position: relative;
    text-align: left;
    font-weight: 400;
}

.sf_track input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.sf_track label {
    font-size: 19px;
    color: #b3b3b3;
    cursor: pointer;
    padding-left: 30px;
    font-weight: 400;
}

.sf_songs .checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #212121;
}

.sf_track:hover input ~ .checkmark:after {
    border-right: solid rgba(29,185,84, 0.3);
    border-bottom: solid rgba(29,185,84, 0.3);
}

.sf_track input:checked ~ .checkmark:after {
    border-right: solid #1db954;
    border-bottom: solid #1db954;
}

.sf_track .checkmark:after {
    content: "";
    position: absolute;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    transform: rotate(40deg);
}

.sf_album img {
    float: left;
    padding-right: 5px;
}

.sf_album p {
    line-height: 5%;
    display: inline-block;
    color: #b3b3b3;
}

.sf_tag {
    font-weight: bold;
    
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.sf_value {
    display: block; 
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#sf_playlist {
    font-size: 17px;
    color: #b3b3b3;

    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#sf_playlists {
    background-color: #212121;
    color: #b3b3b3;
    font-size: 17px;
}

#sf_playlists option {
    background-color: #212121;
    color: #b3b3b3;
    font-size: 17px;
}

#sf_sel_all, #sf_sel_none, #sf_go, #sf_prev, #sf_next {
	background-color: #212121;
	border-radius: 40px;
	border: 1px solid #1db954;
	display: inline-block;
	cursor: pointer;
	color: #b3b3b3;
	font-size: 19px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px black;
}

#sf_sel_all:hover, #sf_sel_none:hover, #sf_go:hover, #sf_back:hover, #sf_close:hover, #sf_prev:hover, #sf_next:hover {
	background-color:#303030;
}

#sf_prev, #sf_next {
    position: relative;
    bottom: 100px;
    display: inline-block;
}